[submodule "OverEngine/vendor/spdlog"]
	path = OverEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "OverEngine/vendor/GLFW"]
	path = OverEngine/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "OverEngine/vendor/glm"]
	path = OverEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "OverEngine/vendor/box2d"]
	path = OverEngine/vendor/box2d
	url = https://github.com/erincatto/box2d
[submodule "OverEngine/vendor/imgui"]
	path = OverEngine/vendor/imgui
	url = https://github.com/ocornut/imgui
