# IDE Caches
.vs/
.vscode/
.atom/

# OverEngine Binaries
/bin/
/bin-int/

# Vendor Binaries
/OverEngine/vendor/*/bin/
/OverEngine/vendor/*/bin-int/

# Visual Studio project files
*.sln*
*.vcxproj*

# MakeFiles
MakeFile

# Profiling files
OverEngineProfile-StartUp.json
OverEngineProfile-Runtime.json
OverEngineProfile-Shutdown.json
