# IDE Caches
.vs/
.vscode/
.atom/

# OverEngine Binaries
/bin/
/bin-int/

# Vendor Binaries
/OverEngine/vendor/*/bin/
/OverEngine/vendor/*/bin-int/

# Visual Studio project files
*.sln
*.vcxproj*

# MakeFiles
MakeFile

# ImGui Caches
imgui.ini
